@keyframes example {

    to {background-color: #dddfdd;    width:80%;}
  }
  

.blue{
    background-color: rgb(56, 104, 105);
  
}
.buttonblue{
    background-color: white;
    border:rgb(56, 104, 105) 2px solid;

    
}
.bluebutton{
    background-color:rgb(56, 104, 105)  ;
    border: white 2px solid;
    color: white;
    height: 60px;

    margin: 10px;
    border-radius: 20px;
    border-radius: 20px;
}
.margin{
    margin-right: 50px;
}
.buttonblue span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
.buttonblue span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .buttonblue:hover span {
    padding-right: 25px;
  }
  
  .buttonblue:hover span:after {
    opacity: 1;
    right: 0;
  }
  .center2{
    display:flex;
    justify-content: center;
    margin-top: 40px;
    
   
 
}
#class{
    margin-top: 10px;
    height: 109px;
    background-color:rgb(245, 244, 244);
    border-radius: 20px;
    margin-bottom: 15px;
    width:75%;
cursor: pointer;}
 #class:hover{

    animation-name: example;
    animation-duration: 2s;
    }
#blue{
    padding-left: 25px;
    padding-top: 23px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
 position: absolute;
        height: 109px;
        width:75px;
         background-color:rgb(56, 104, 105);
    }
    
        
        .text{
            position: absolute;
        height: 109px;
        width:70%;
            margin-top: 35px;
            font-family: "Montserrat";
            font-size: 20px;
         
            margin-left: 95px;
           
       
        }
        .container{
            width:50%
        }
        .outer2 {
            margin-top: 270px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            text-align: left;
          }
          
          .inner2 {
            width: 75%;
            margin: auto;
            
                background: linear-gradient(to right, #c7fdf4, #bbfaf7); 
                
          
            padding: 40px 55px 45px 55px;
            border-radius: 15px;
            
          }
          @media only screen and (max-width: 850px) {
            .buttonblue {
                margin-right: 20px;
                
              }
          }